

.ui-link, a.ui-link
{
  color: var(--color-text);
  text-decoration: underline dotted var(--color-text) !important;
  text-underline-offset: 3px;

  &.is-primary
  {
    color: var(--color-primary);
    text-decoration: underline dotted var(--color-primary) !important;
  }

  .ui-icon
  {
    position: relative;
    top: 3px;
    margin-right: 6px;
  }

  &:hover
  {
    color: var(--color-accent);
    text-decoration: underline dotted var(--color-accent) !important;
  }
}

.ui-silent-link
{
  color: var(--color-text);
}

.ui-silent-link:hover
{
  color: var(--color-text);
  text-decoration: underline dotted var(--color-text) !important;
  text-underline-offset: 3px;
}