

.ui-tag
{
  align-self: center;
  display: inline-block;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  background: var(--color-box-nested);
  color: var(--color-text);
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  border-radius: 16px;
}

.ui-tag + .ui-tag
{
  margin-left: 8px;
}