

body, html
{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html
{
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body
{
  min-height: 100%;
  background: var(--color-primary);
  color: var(--color-text);
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear
{
  display: block;
  clear: both;
  float: none;
}

.app
{
  height: 100%;
}

.app-headline
{
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: 400;
  margin: -10vh 0 8vh;
}

body:before
{
  content: 'setup';
  //@extend %font-headline;
  color: rgba(black, 0.05);
  position: fixed;
  left: -10vw;
  bottom: -30vh;
  font-size: 150vh;
  line-height: 150vh;
  font-weight: bold;
}