
:root
{
  --padding: 32px;
  --padding-m: 24px;
  --padding-s: 16px;
  --padding-xs: 12px;
  --padding-xxs: 8px;
  --padding-l: 64px;

  --height-top: 74px;
  --radius: 6px;
  --radius-button: 3px;
}