
:root
{
  --shadow: 0 3px 20px rgba(0, 0, 0, 0.07);
  --shadow-short: 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.06);
  //--shadow-dropdown: rgba(0, 0, 0, 0.15);
  --shadow-dropdown: 3px 6px 16px rgba(0, 0, 0, 0.07);
  --shadow-overlay: -30px 0 40px rgba(0, 0, 0, 0.07);
  --shadow-overlay-dialog: 0 0 20px rgba(0, 0, 0, 0.07);
}