@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model zero.Debug.Models.LoginModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="author" content="brothers">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="expires" content="0">
  <base href="~/">
  <title>zero frontend</title>
</head>
<body>
  <div id="app">
    @if (User != null)
    {
      <p>
        User: @User.Identity.Name
      </p>
    }
    <form method="post" action="~/Account/Index">
        <div asp-validation-summary="All" class="text-danger"></div>
        Posted: @Model?.Posted<br/>
        Username: <input asp-for="Username" /><br/>
        Password: <input asp-for="Password" /><br />
        Remember me: <input asp-for="RememberMe" type="checkbox" /><br />
        <input type="submit" value="Login" />
        @Html.AntiForgeryToken()
    </form>

    <form method="post" action="~/Account/Logout">
       <button type="submit">Logout</button>
    </form>

    <pre>
<code>
@Json.Serialize(User.Identities, new Newtonsoft.Json.JsonSerializerSettings() { Formatting = Newtonsoft.Json.Formatting.Indented, ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore })
</code>
</pre>
  </div>
</body>
</html>