

button
{
  @extend %font;
  color: var(--color-fg);

  &:focus
  {
    outline: 1px dotted var(--color-line);
  }
}

.ui-button
{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary-fg);
  background: var(--color-primary);
  padding: 0 24px;
  height: 42px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  will-change: transform, background, border-color;
  transition: background .2s, transform .2s, opacity .2s;
  overflow: hidden;
  @extend %font;

  &:hover
  {
    opacity: 0.9;
  }

  &:active
  {
    opacity: 1;
  }

  &.is-disabled, &[disabled]
  {
    pointer-events: none;
    //background: var(--color-dark);
  }

  &.type-outline
  {
    height: 43px;
    background: var(--color-bg);
    color: var(--color-fg);
    border: 1px solid var(--color-line);
    box-sizing: border-box;
    position: relative;
    top: 1px;
  }

  &.type-big
  {
    height: 50px;
    padding: 0 30px;
  }

  &.type-light
  {
    background: var(--color-bg-mid);
    color: var(--color-fg);
    border: none;
  }

  &.type-block
  {
    display: flex;
    width: 100%;
  }

  & + .ui-button
  {
    margin-left: 15px;
  }

  [class^="fth-"]
  {
    margin-left: 15px;
    margin-right: -7px;
    position: relative;
    font-size: var(--font-size-l);
    top: -1px;
    color: var(--color-fg-mid);
  }

  &.caret-left
  {
    flex-direction: row-reverse;

    [class^="fth-"]
    {
      margin-right: 12px;
      margin-left: -7px;
    }
  }
}


.ui-dot-button
{
  @extend .ui-button;
  background: transparent;
  padding: 0;
  height: 28px;
  width: 36px;
  text-align: center;
  justify-content: center;
  font-size: var(--font-size-xl);

  &:hover
  {
    background: rgba(white, 0.05);
  }

  [class^="fth-"]
  {
    margin: 0;
  }
}


.ui-icon-button
{
  @extend .ui-button;
  background: var(--color-bg-mid);
  padding: 0;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  font-size: var(--font-size-l);

  &:hover
  {
    opacity: 1;
  }

  [class^="fth-"]
  {
    color: var(--color-fg);
    margin: 0;
    top: 0;
  }
}



/*button
{
  @extend %font;

  &:focus
  {
    outline: 1px dotted var(--color-outline);
  }
}

.button, a.button
{
  display: inline-block;
  color: white;
  background: var(--color-text);
  padding: 0 1.8rem;
  height: 3.1rem;
  line-height: 3.05rem;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  margin-top: 2rem;
  will-change: transform, background, border-color;
  transition: background .2s, transform .2s, opacity .2s;
  overflow: hidden;
  @extend %font;

  a
  {
    color: white !important;
    text-decoration: none !important;
  }

  &:hover
  {
    opacity: 0.9;
  }

  &:active
  {
    opacity: 1;
    //transform: scale(0.97);
  }

  &.is-disabled, &[disabled]
  {
    pointer-events: none;
    background: var(--color-dark);
  }

  i
  {
    display: none;
  }

  &.is-loading, &[data-state="loading"]
  {
    pointer-events: none;
    color: transparent;

    i
    {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -10px;
      margin-top: -10px;
      border: 2px solid rgba(white, 0.1);
      border-top-color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: buttonLoadingSpin 0.7s linear infinite;
    }

    &:focus
    {
      outline: none;
    }
  }
}

@keyframes buttonLoadingSpin
{
  0%
  {
    transform: rotate(0deg);
  }

  100%
  {
    transform: rotate(360deg);
  }
}*/
