@*@using zero.Core.Extensions
@inject zero.Core.Options.IZeroOptions Options
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="author" content="brothers">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="expires" content="0">
  <base href="~/">
  <environment exclude="Development">
    <link href="~/Assets/setup.css" rel="stylesheet" asp-append-version="true" />
  </environment>
  <title>zero</title>
</head>
<body>
  <div id="application"></div>
  <script>
    window.zero = window.zero || {};
    zero.path = "@Options.BackofficePath.EnsureEndsWith('/')";
  </script>
  <script src="~/Assets/setup.js" asp-append-version="true"></script>
</body>
</html>*@