

body, html
{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
}

html
{
  height: 100vh;
  -webkit-text-size-adjust: 100%;
}

body
{
  height: 100vh;
  background: var(--color-bg);
  color: var(--color-fg);
  font-size: 16px;
  @extend %font;
}

.clear
{
  display: block;
  clear: both;
  float: none;
}

.app
{
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: stretch;
}

.app-main
{
  overflow-y: auto;
}

.fade-enter-active, .fade-leave-active
{
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to
{
  opacity: 0;
}


.ui-split
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--padding);
  align-items: stretch;
  justify-content: stretch;

  .ui-property + .ui-property
  {
    margin-top: 0;
    padding-top: 0;
  }
}

.ui-split-three
{
  @extend .ui-split;
  grid-template-columns: 1fr 1fr 1fr;
}