

.app-nav
{
  background: var(--color-box);
  width: 260px;
  color: var(--color-text);
  height: 100vh; 
  display: grid;  
  grid-template-rows: auto auto 1fr auto;  
  box-shadow: var(--shadow-short);

  .theme-rounded &
  {
    height: calc(100vh - 20px);
    margin: 10px;
    margin-right: 0;
    border-radius: var(--radius);
  }
}

.app-nav-inner
{
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 3px;
  margin-top: -3px;
}

.app-nav-headline
{
  display: flex;
  align-items: center;
  padding: 0 var(--padding);
  padding-top: 4px;
  height: var(--height-top);
  margin: 5px 0 5px;

  .theme-rounded &
  {
    margin: 0;
  }

  img
  {
    height: 28px;
    margin-top: 10px;
  }
}

.app-nav-switch
{
  padding: 16px var(--padding) 0;
  margin-bottom: 30px;

  .ui-button
  {
    padding-left: 20px;
  }
}

a.app-nav-item, button.app-nav-item
{
  display: grid;
  grid-template-columns: 30px 1fr auto;
  gap: 6px;
  align-items: center;
  font-size: var(--font-size);
  padding: 0 var(--padding);
  height: 50px;
  color: var(--color-text);

  &:hover
  {
    color: var(--color-text);
    //background: var(--color-tree-selected);

    .app-nav-item-icon
    {
      color: var(--color-text);
    }
  }

  &.is-active:not([alias="dashboard"]), &.is-active-exact
  {
    color: var(--color-text);
    background: var(--color-tree-selected);
    font-weight: 700;
    //border-right: 3px solid var(--color-primary);

    .app-nav-item-icon
    {
      color: var(--color-text);
    }

    .app-nav-item-arrow
    {
      transform: rotate(180deg);
    }
  }
}

.app-nav-item-icon
{
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: -2px;
  color: var(--color-text-dim);
  transition: color 0.2s ease;
}

.app-nav-item-arrow
{
  color: var(--color-text-dim);
}

.app-nav-children
{
  padding: 5px 0 10px;
}

a.app-nav-child
{
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  padding: 0 var(--padding) 0 calc(var(--padding) + 36px);
  height: 40px;
  color: var(--color-text-dim);

  &:hover, &.is-active
  {
    color: var(--color-text);
  }

  &.is-active
  {
    font-weight: 700;
  }
}


.app-nav-children-enter-active
{
  transition: all .3s ease;
}

.app-nav-children-leave-active
{
  transition: all 0;
}

.app-nav-children-enter, .app-nav-children-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}


// account

.app-nav-account
{
  padding: var(--padding);
}

.app-nav-account-button
{
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  color: var(--color-text-dim);
  align-items: center;

  .-image
  {
    height: 32px;
    width: 32px;
    border-radius: 18px;
    position: relative;
    top: -1px;
    background: var(--color-bg-shade-3);
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    overflow: hidden;
    color: transparent;
  }

  .-text
  {
    font-weight: 400;
    margin: 0;

    strong
    {
      font-weight: 700;
      color: var(--color-text);
    }
  }
}