

.app-nav
{
  background: var(--color-bg-light);
  width: 260px;
  margin-right: 2px;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  a, button
  {
    outline: 0 solid transparent !important;
  }
}

.app-nav-inner
{
  overflow-y: auto;
  overflow-x: hidden;
}

.app-nav-headline
{
  display: flex;
  align-items: center;
  padding: 0 var(--padding);
  font-size: 2.2em;
  line-height: 1;
  font-weight: 700;
  height: var(--height-top);
  margin: 0;
  color: var(--color-primary);
}

.app-nav-switch
{
  padding: 26px var(--padding) 0;
  margin-bottom: 30px;

  .ui-button.type-action
  {
    background: var(--color-bg);
    //background: rgba(white, 0.05);
    color: var(--color-fg);
    //border-color: rgba(white, 0.1);
    padding-left: 20px;
  }
}

a.app-nav-item
{
  display: grid;
  grid-template-columns: 30px 1fr auto;
  grid-gap: 6px;
  align-items: center;
  font-size: var(--font-size);
  padding: 0 var(--padding);
  height: 52px;
  color: var(--color-fg-mid);

  &:hover
  {
    color: var(--color-fg);

    .app-nav-item-icon
    {
      color: var(--color-fg);
    }
  }

  &.is-active:not([alias="dashboard"]), &.is-active-exact
  {
    color: var(--color-fg);
    background: var(--color-bg-light);
    font-weight: 700;

    .app-nav-item-icon
    {
      color: var(--color-fg);
    }

    .app-nav-item-arrow
    {
      transform: rotate(180deg);
    }
  }
}

.app-nav-item-icon
{
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: -2px;
  color: var(--color-fg-mid);
  transition: color 0.2s ease;
}

.app-nav-children
{
  padding: 5px 0 10px;
}

a.app-nav-child
{
  display: flex;
  align-items: center;
  font-size: $font-size;
  padding: 0 var(--padding) 0 calc(var(--padding) + 36px);
  height: 40px;
  color: var(--color-fg-mid);

  &:hover, &.is-active
  {
    color: var(--color-fg);
  }

  &.is-active
  {
    font-weight: 700;
  }
}


.app-nav-children-enter-active
{
  transition: all .3s ease;
}

.app-nav-children-leave-active
{
  transition: all 0;
}

.app-nav-children-enter, .app-nav-children-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}


// account

.app-nav-account
{
  padding: var(--padding);
}

.app-nav-account-button
{
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-gap: 16px;
  color: var(--color-fg-mid);
  align-items: center;

  .-image
  {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    position: relative;
    top: -1px;
    background: var(--color-bg-mid);
    text-align: center;
    line-height: 37px;
    font-size: 16px;
  }

  .-text
  {
    font-weight: 400;
    margin: 0;

    strong
    {
      font-weight: 700;
      color: var(--color-fg);
    }
  }

  .-icon
  {

  }
}