


.ui-box
{
  margin: var(--padding);
  padding: var(--padding);
  background: var(--color-bg-light);
  border-radius: var(--radius);
}

.ui-blank-box
{
  margin: var(--padding);
  border-radius: var(--radius);
}
