

::placeholder
{
  color: var(--color-fg-light);
}

input, textarea
{
  @extend %font;
  background: var(--color-bg-light);
  border: 1px solid var(--color-line);
  font-size: $font-size;
  display: inline-block;
  height: 40px;
  padding: 6px 12px;
  line-height: 1.5;
  color: var(--color-fg);
  border-radius: 3px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;

  &:focus
  {
    border-color: var(--color-line-mid);
  }
}