
:root
{
  // accent colors
  --color-primary: #45acd7;
  --color-secondary: #292b2c;
  --color-negative: #d82853; 

  // foreground/text color
  --color-fg: #000;
  --color-fg-mid: #c1c5c9;
  --color-fg-light: #919294;

  --color-fg-reverse: #fff;
  --color-fg-reverse-mid: #c1c5c9;

  // background color shades
  --color-bg: #1c1e1f;
  --color-bg-light: #242526;
  --color-bg-mid: #242526;

  // line colors
  --color-line: #eaebec;
  --color-line-mid: #d7d8d9;


  // sizes

  --padding: 32px;
  --height-top: 74px;
}


// font sizes

$font-size: 14px;
$font-size-s: 12px;