<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="SSLRenewal" enabled="true" stopProcessing="true"  xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
            <match url="\.well-known(.*)" />
            <action type="None" />
          </rule>
          <rule name="RedirectToSSL" enabled="true" stopProcessing="true"  xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^fifty\.brothers\.studio$" negate="true" />
              <add input="{HTTPS}" pattern="^OFF$" />
            </conditions>
            <action type="Redirect" url="https://fifty\.brothers\.studio/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>