@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model zero.Web.Models.ZeroBackofficeModel
@{ 
  Layout = null;
  string config = await Model.Vue.ConfigAsJson();
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="author" content="brothers">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="expires" content="0">
  <link rel="icon" type="image/png" href="/assets/zero-icon.png" sizes="32x32">
  <link rel="image_src" type="image/png" href="/assets/zero-icon.png" sizes="192x192" />
  <link rel="shortcut icon" type="image/png" href="/assets/zero-icon.png" sizes="196x196">
  <base href="~/">
  <environment exclude="Development">
    <link href="~/zero/Assets/app.css" rel="stylesheet" asp-append-version="true" />
  </environment>
  <title>zero</title>
</head>
<body class="theme-light theme-roundedx">
  <div id="app"></div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    @Html.Raw(Model.Vue.GetIconSvg())
  </svg>
  <script id="zeroconfig" type="application/json">
    @Html.Raw(config)
  </script>
  <script>
    window.__zero = @Html.Raw(config);
    window.zero = window.__zero;
  </script>
  <script type="module" src="http://localhost:@(Model.Port)/vite/client"></script>
  <script type="module" src="http://localhost:@(Model.Port)/app/app.js"></script>
</body>
</html>