

.app-nav
{
  background: var(--color-secondary);
  width: 260px;
  color: white;

  a, button
  {
    outline: none !important;
  }
}

.app-nav-headline
{
  display: flex;
  align-items: center;
  padding: 0 var(--padding);
  font-size: 2.2em;
  line-height: 1;
  font-weight: 700;
  height: var(--height-top);
  margin: 0;
}

.app-nav-switch
{
  padding: 20px var(--padding) 30px;

  .ui-button.type-outline
  {
    background: var(--color-secondary);
    color: var(--color-fg-reverse-mid);
    border-color: rgba(white, 0.1);
    padding-left: 20px;
  }
}

a.app-nav-item
{
  display: grid;
  grid-template-columns: 30px 1fr auto;
  grid-gap: 6px;
  align-items: center;
  font-size: $font-size;
  padding: 0 var(--padding);
  height: 52px;
  color: var(--color-fg-reverse-mid);

  &:hover, &.is-active
  {
    background: rgba(white, 0.05);
    color: var(--color-fg-reverse);
  }

  &.is-active
  {
    font-weight: 700;
  }
}

.app-nav-item-icon
{
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: -2px;
  color: var(--color-fg-reverse-mid);
}