@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model zero.Web.Models.ZeroBackofficeModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="author" content="brothers">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="expires" content="0">
  <base href="~/">
  <environment exclude="Development">
    <link href="~/Assets/app.css" rel="stylesheet" asp-append-version="true" />
  </environment>
  <title>zero</title>
</head>
<body class="theme-light">
  <div id="app"></div>
  <script>
    window.zero = window.zero || {};
    zero = @Html.Raw(await Model.Vue.ConfigAsJson());
  </script>
  <script src="~/Assets/app.js" asp-append-version="true"></script>
</body>
</html>