
$font-icon-name: 'Feather';
$font-text-name: 'Lato';

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal)
{
  @font-face
  {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.woff2') format('woff2'),
         url('#{$file-path}.woff') format('woff');
         //url('#{$file-path}.ttf') format('truetype');
  }
} 

@include font-face($font-icon-name, '/Assets/Fonts/Feather/feather', 400);

@include font-face($font-text-name, '/Assets/Fonts/Lato/LatoLatin-Light', 100);

@include font-face($font-text-name, '/Assets/Fonts/Lato/LatoLatin-Regular', 400);

@include font-face($font-text-name, '/Assets/Fonts/Lato/LatoLatin-Bold', 700);

@include font-face($font-text-name, '/Assets/Fonts/Lato/LatoLatin-Black', 900);

/*@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/Assets/Fonts/Inter/Inter-roman.var.woff2?v=3.17") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/Assets/Fonts/Inter/Inter-italic.var.woff2?v=3.17") format("woff2");
}*/


%font
{
  font-family: $font-text-name, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root
{
  --font: '#{$font-text-name}', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-icon: '#{$font-icon-name}';
}

%font-icon
{
  font-family: $font-icon-name;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}